@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for Swiper pagination */
.mySwiper .swiper-pagination {
  position: static;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}



/* body {
  background-image: url('https://plus.unsplash.com/premium_photo-1673306778968-5aab577a7365?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8fHww');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
} */

 





body {
    background-color: #007ced;
    overscroll-behavior: none;
    
  }

  @media screen and (max-width:668px) {
    body{
      background-color: #f8f9fa;
    }
  }


 